{% extends 'portfolio/base.html' %}
{% load static %}

{% block content %}
<div class="text-center text-dark">
    <h1>Alen's Portfolio</h1>
</div>
<div class="text-center">
    <img height="700" width="700" src="{% static 'portfolio/Neogen_Space_Monkeys_#613.png' %}" alt="">
</div>

{% for project in projects %}
    <h2>{{ project.title }}</h2>
    <h3>{{ project.description }}</h3>

    {% if project.url %}
        <a href="{{ project.url }}">
            <img height="256" width="256" src="{{ project.image.url }}">
        </a>
    {% endif %}
    {% if not project.url %}
        <img height="256" width="256" src="{{ project.image.url }}">
    {% endif %}
{% endfor %}


{% endblock content %}